name: Build

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build (excluding iOS)
        run: ./gradlew build -x allTests -x linkDebugFrameworkIosArm64 -x linkDebugFrameworkIosSimulatorArm64 -x linkReleaseFrameworkIosArm64 -x linkReleaseFrameworkIosSimulatorArm64